@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap');

/* Colores principales */
:root {
    --light: #f6f6f9;
    --primary: #2d8de8;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #353a3e;
    --dark-opacity: #353a3e80;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

/* Propiedades generales */
/*
MARK: Propiedades Generales
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    background-color: var(--grey);
}

/* Colores modo oscuro */
body.dark{
    --light: #191b1e;
    --grey: #26262c;
    --dark: #f6f6f9;
}

li{
    list-style: none;
}

.bx{
    font-size: 1.8rem;
}

.icono{
    width: 40px;
}

a{
    color: var(--primary);
    text-decoration: none;
}

.bold{
    font-weight: 800;
    color: var(--dark);
}

.mb-36 {
    margin-bottom: 36px;
}

.mb-150 {
    margin-bottom: 150px;
}

/* Efecto on hover */
.move-ef {
    transition: 0.4s;
}

.move-ef:hover {
    transform: translate(0, -4px);
    transition: 0.4s;
}

/* Efecto hover diagonal */
.move-xy{
    transition: 0.4s;
    border-radius: 25px;
}

.move-xy:hover{
    transform: translate(5px, -5px);
    transition: 0.4s;
    border-radius: 25px;
    -webkit-box-shadow: 6px 6px 9px -3px var(--dark-opacity);
    -moz-box-shadow: 6px 6px 9px -3px var(--dark-opacity);
    box-shadow: 6px 6px 9px -3px var(--dark-opacity);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
background: var(--grey); 
}

::-webkit-scrollbar-thumb {
background: var(--dark);
border-radius: 15px;
}
  
/* switch */
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input{ 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-grey);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--light);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider{
    background-color: var(--primary);
}

input:focus + .slider{
    box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round{
    border-radius: 25px;
}

.slider.round:before{
    border-radius: 50%;
}

/* margen superior */
.mt{
    margin-top: 12px;
}

.flex{
    display: flex;
    align-items: center;
    gap: 12px;
}
/* ------------ */
/* Menu Lateral */
/* ------------ */
/*
MARK: Menu lateral
*/
.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light);
    height: 100%;
    width: 250px;
    overflow: hidden;
}

.menu-lateral .titulo-pag{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 60px;
    font-size: 27px;
    font-weight: 600;
    color: var(--primary);
}

.menu-lateral .titulo-pag img{
    margin-left: 20px;
}

.menu-lateral .titulo-pag .titulo-nombre span{
    color: var(--dark);
}

.menu-lateral .lista-menu{
    width: 90%;
    margin-top: 50px;
}

.menu-lateral .lista-menu li{
    height: 55px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 15px;
}


.menu-lateral .lista-menu li.active{
    background-color: var(--grey);
    font-weight: 600;
}

.menu-lateral .lista-menu li:hover{
    background-color: var(--grey);
}

.menu-lateral .lista-menu li a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.4 ease;
}

.menu-lateral .lista-menu li a{
    width: 100%;
    height: 100%;
    color: var(--dark);
}

.menu-lateral .lista-menu li a{
    width: 175px;
}

.menu-lateral .lista-menu li a .bx{
    min-width: 40px;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
}

.menu-lateral .lista-menu li a .color-gris{
    filter: brightness(0) saturate(100%) invert(21%) sepia(9%) saturate(1245%) hue-rotate(193deg) brightness(94%) contrast(92%);
}

body.dark .menu-lateral .lista-menu li a .color-gris{
    filter: brightness(0) saturate(100%) invert(98%) sepia(17%) saturate(324%) hue-rotate(180deg) brightness(95%) contrast(107%);
}

.menu-lateral .lista-menu a.logout{
    color: var(--danger);
}


/* ---------------- */
/* Contenido Pagina */
/* ---------------- */
.contenido{
    position: relative;
    /* Interfaz adaptativa dimensiones */
    width: calc(100% - 230px);
    left: 250px;
    transition: all 0.4s ease;
}

.menu-lateral.close~.contenido{
    width: calc(100% - 60px);
    left: 60px;
    transition: all 0.4 ease;
}



/* ------------- */
/* Menu Superior */
/* ------------- */
/*
MARK: Menu superior
*/

.contenido nav{
    height: 50px;
    background-color: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    gap: 15px;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}

.contenido nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
    z-index: 201;
}

.contenido nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.contenido nav h3{
    color: var(--dark);
    margin-left: auto;
    margin-right: 20px;
}

.contenido nav h3 span{
    margin-right: 15px;
}

.version{
    margin-left: 30px;
    color: var(--dark);
    font-weight: 600;
}

.contenido nav a{
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
}

.contenido nav a.hipervinculo{
    color: var(--primary);
    display: inline-block;
}

.contenido nav a i{
    color: var(--dark);
}

/* ------------------- */
/* Contenido Principal */
/* ------------------- */

.contenido main{
    padding: 50px 50px 33px 25px;
}

.contenido main .cabecera{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contenido main .cabecera .titulo h1{
    font-size: 35px;
    font-weight: 700;
    flex-wrap: wrap;
    color: var(--dark);
    margin-bottom: 7px;
}

.contenido main .cabecera .titulo .breadcrumb{
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    bottom: 45px;
    color: var(--dark);
}

.contenido main .breadcrumb a{
    color: var(--primary);
}

.contenido main .breadcrumb span{
    color: var(--dark-grey);
}

body main .errores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--dark);
    margin: 0 auto;

    /* Centramos el error al medio */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

body main .errores img{
    width: 70%;
    max-width: 650px;
}

body main .errores a{
    margin-left: 0;
}

/* Clase boton */
/*
MARK: Boton
*/
div.botones-cabecera {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

a.boton{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary);
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 40px;
    margin-left: auto;
    color: var(--light);
    white-space: nowrap;
    transition: 0.4s;
}

a.boton:hover{
    background-color: var(--dark);
    transition: 0.4s;
}

/* Boton simple de funcionalidad */
span.boton{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary);
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 40px;
    margin-left: auto;
    color: var(--light);
    white-space: nowrap;
    transition: 0.4s;
    cursor: pointer;
}

span.boton:hover{
    background-color: var(--dark);
    transition: 0.4s;
}


/* Muestras de resumenes */
.contenido main .resumen ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.contenido main .resumen ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
    border-radius: 25px;
    background-color: var(--light);
    cursor: pointer;
}

.contenido main .resumen ul li .bx{
    padding: 25px;
    border-radius: 15px;
    background-color: var(--light-primary);
    color: var(--primary);
}

.contenido main .resumen ul li div h3{
    font-size: 20px;
    text-overflow: ellipsis;
}

.contenido main .resumen ul li h3{
    color: var(--dark);
    font-size: 24px;
    font-weight: 700;
}

.contenido main .resumen ul li h4{
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
}

/* Logos propios */
.contenido main .resumen ul li .bx.clogo{
    padding: 10px;
    height: 80px;
    width: 80px;

}

.contenido main .resumen ul li .bx.clogo img{
    width: 60px;
    height: 60px;
}

.contenido main .resumen ul a:nth-child(1) li .bx.clogo{
    background-color: var(--light-primary);
}

.contenido main .resumen ul a:nth-child(2) li .bx.clogo{
    background-color: var(--light-primary);
}

.contenido main .resumen ul a:nth-child(3) li .bx.clogo{
    background-color: var(--light-primary);
}

.contenido main .resumen ul a:nth-child(4) li .bx.clogo{
    background-color: var(--light-primary);
}

.contenido main .resumen-titulo{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    color: var(--dark);
    margin-bottom: -15px;
}


/* Divs repartidos */
.contenido main .informacion .infodatos{
    width: 50%;
    background-color: var(--light);
    border-radius: 25px;
    padding: 25px;
}

/* Modales */
/*
MARK: Modal
*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    z-index: 300;
}

.modal .contenido-modal{
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    background-color: var(--light);
    border-radius: 25px;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 200;
    -webkit-animation-name: animacionCaer;
    -webkit-animation-duration: 0.4s;
    animation-name: animacionCaer;
    animation-duration: 0.4s
}

@-webkit-keyframes animacionCaer {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animacionCaer {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal .contenido-modal .cerrar-modal{
    color: var(--dark-grey);
    font-size: 25px;
    float: right;
    font-weight: 800;
    transition: 0.4s;
}

.modal .contenido-modal .cerrar-modal:hover, .cerrar-modal:focus{
    color: var(--dark);
    transition: 0.4s;
    cursor: pointer;
}

.modal .contenido-modal .cabecera-modal{
    padding: 20px 25px;
    color: var(--dark);
    font-size: 20px;
}

.modal .contenido-modal .cuerpo-modal{
    padding: 5px 25px;
    color: var(--dark);
}

.modal .contenido-modal .cuerpo-modal img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    margin-bottom: 25px;
}

.modal .contenido-modal .cuerpo-modal table{
    width: 75%;
    margin: 0 auto;
}

.modal .contenido-modal .cuerpo-modal table tr{
    border-bottom: 3px solid var(--dark-grey);
}

.modal .contenido-modal .cuerpo-modal table th{
    text-align: left;
    border-bottom: 3px solid var(--dark-grey);
}

.modal .contenido-modal .cuerpo-modal table td{
    text-align: right;
    border-bottom: 3px solid var(--dark-grey);
}

.modal .contenido-modal .footer-modal{
    padding: 10px 25px;
    color: var(--dark);
}

.modal .contenido-modal .footer-modal .botones{
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
}

.modal .contenido-modal .footer-modal .botones a,
.modal .contenido-modal .footer-modal .botones span,
.modal .contenido-modal .footer-modal .botones input[type="submit"]{
    width: 100%;
    border: 3px solid var(--grey);
    transition: 0.4s;
    border-radius: 25px;
    padding: 10px 0;
    cursor: pointer;
    color: var(--dark);
}

.modal .contenido-modal .footer-modal .botones a:hover, .modal .contenido-modal .footer-modal .botones span:hover,
.modal .contenido-modal .footer-modal .botones input[type="submit"]:hover{
    background-color: var(--dark) !important;
    color: var(--light) !important;
    transition: 0.4s;
}

.modal .contenido-modal .footer-modal .botones a.cancelar, .modal .contenido-modal .footer-modal .botones span.cancelar{
    color: var(--dark);
}

.modal .contenido-modal .footer-modal .botones a.aceptar,
.modal .contenido-modal .footer-modal .botones input[type="submit"].aceptar{
    color: var(--light);
    background-color: var(--primary);
}

span.rojo{
    font-weight: 700;
    color: var(--danger);
}

span.verde{
    font-weight: 700;
    color: var(--success);
}

/* Tooltips */
/*
MARK: Tooltips
*/
.tooltip{
    position: relative;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 145%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

/* formulario dentro del modal */
.modal form label{
    display: block;
    font-size: 19px;
    color: var(--dark);
    margin-top: 13px;
}

.modal form input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 20px 0;
    opacity: 0.8;
    -webkit-transition: 0.3s;
    transition: opacity 0.3s;
}

.modal form input[type=range]:hover{
    opacity: 1;
}

.modal form input[type=range]::-webkit-slider-runnable-track{
    height: 8px;
    background: var(--grey);
    border: none;
    border-radius: 5px;
}

.modal form input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 12px;
    border-radius: 10px;
    background: var(--primary);
    margin-top: -11px;
}

.modal form input[type=range]:focus{
    outline: none;
}

.modal form input[type=range]:focus::-webkit-slider-runnable-track{
    background: var(--grey);
}

.modal form input[type=password]{
    display: block;
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: var(--light);
    transition: 0.4s;
    font-size: 19px;
    outline: none;
    color: var(--dark);
}

.modal form input[type=password]:focus{
    border: 3px solid var(--dark);
    color: var(--dark);
}

.modal form input[type=text]{
    display: block;
    margin-top: 3px;
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: var(--light);
    transition: 0.4s;
    font-size: 19px;
    outline: none;
    color: var(--dark);
}

.modal form input[type=text]:focus{
    border: 3px solid var(--dark);
}

.modal form textarea{
    width: 100%;
    height: 100px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: var(--light);
    transition: 0.4s;
    font-size: 19px;
    outline: none;
    margin-top: 5px;
    color: var(--dark);
}

.modal form textarea:focus{
    border: 3px solid var(--dark);
}

/* Tabla de Chart.js */
.contenido main .informacion div.basico.chart{
    position: relative;
    width: 100%;
    height: 55vh;
}

.contenido main .informacion div.basico.chart canvas{
    width: 100%;
    height: 100%;
}

/* Muestra de notificaciones de los aviones */
.contenido main .informacion div.basico .notificaciones{
    width: 100%;
    height: 40vh;
    position: relative;
    background-color: var(--grey);
    overflow-y: scroll;
    border-radius: 25px;
}

.contenido main .informacion div.basico .notificaciones .alert-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido main .informacion div.basico .notificaciones ul{
    list-style: none;
    color: var(--dark);
    text-align: left;
    padding: 15px 5px;
}

.contenido main .informacion div.basico .notificaciones ul li{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 10px 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: var(--light);
}

.contenido main .informacion div.basico .notificaciones ul li .bx{
    padding-left: 7px;
}

.contenido main .informacion div.basico .notificaciones ul li.exito{
    border-left: 10px solid var(--success);
}

.contenido main .informacion div.basico .notificaciones ul li.exito .bx{
    color: var(--success);
}

.contenido main .informacion div.basico .notificaciones ul li.warning{
    border-left: 10px solid var(--warning);
}

.contenido main .informacion div.basico .notificaciones ul li.warning .bx{
    color: var(--warning);
}

.contenido main .informacion div.basico .notificaciones ul li.error{
    border-left: 10px solid var(--danger);
}

.contenido main .informacion div.basico .notificaciones ul li.error .bx{
    color: var(--danger);
}

.contenido main .informacion div.basico .notificaciones ul li p{
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-right: 5px;
}


.contenido main .infoBasico{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
    margin-top: 35px;
    transition: 0.4s;

}

.contenido main .infoBasico ul{
    width: 100%;
    list-style: none;
    color: var(--dark);
    text-align: left;
    margin-top: 15px;
}

.contenido main .infoBasico ul li{
    padding: 15px;
    margin-bottom: 8px;
    background-color: var(--grey);
}

.contenido main .infoBasico ul li:first-child{
    border-radius: 25px 25px 0 0;
}

.contenido main .infoBasico ul li:last-child{
    border-radius: 0 0 25px 25px;
}

/* ------------ */
/* Pagina Login */
/* ------------ */
/*
MARK: Login
*/
.pag-login{
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: -10px;
    color: var(--dark);
    background-size: cover;
}

.pag-login div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pag-login div img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.formularioBasico{
    width: 450px;
    background-color: var(--light);
    border-radius: 25px;
    transition: 0.4s;
}

.formularioBasico.cuenta .campos{
    padding-left: 0;
}

.formularioBasico h1{
    text-align: center;
    color: var(--dark);
}

.formularioBasico .campos{
    width: 100%;
    padding: 10px 20px;
}

.formularioBasico .camposLinea{
    padding: 10px 20px;
}

.formularioBasico .camposBotones{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

.formularioBasico .campos label{
    display: block;
    font-size: 19px;
    color: var(--dark);
}

.formularioBasico .campos input{
    display: block;
    margin-top: 3px;
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: var(--grey);
    color: var(--dark);
    transition: 0.4s;
    font-size: 19px;
    outline: none;
}

.formularioBasico .campos input:focus{
    border: 3px solid var(--dark);
    transition: 0.4s;
}

.formularioBasico .campos .hide-show{
    position: relative;
}

.formularioBasico .campos .hide-show i{
    position: absolute;
    top: calc(50% + 3px);
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.formularioBasico .campos input[type="submit"]:focus{
    border: 0;
}

.formularioBasico .campos .inputError{
    margin-top: 5px;
    color: var(--danger);
}

.botonSubmit{
    padding: 10px 15px;
    border-radius: 40px;
    font-size: 15px;
    border: none;
    background-color: var(--danger);
    color: var(--light);
    cursor: pointer;
    transition: 0.4s;
}

.botonSubmit:hover{
    background-color: var(--dark);
    transition: 0.4s;
}

.formularioBasico .camposLinea .checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.formularioBasico .camposLinea .checkbox a{
    color: var(--dark);
    text-decoration: underline;
}

.pag-login div .formularioBasico .camposBotones .linkForm{
    color: var(--dark);
    text-decoration: underline;
}

.formularioBasico div input[type="submit"]{
    padding: 10px 15px;
    border-radius: 40px;
    font-size: 15px;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    transition: 0.4s;
}

.formularioBasico div input[type="submit"]:hover{
    background-color: var(--dark);
    transition: 0.4s;
}

.formularioBasico.cuenta div input[type="submit"]{
    width: auto;
}

.formularioBasico .forms-alineados{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
}

.formularioBasico .campos .forms-alineados .linkForm{
    background-color: transparent;
    color: var(--dark);
    text-decoration: underline;
    outline: none;
}

/* -------------- */
/* Pagina Landing */
/* -------------- */
/*
MARK: Landing
*/
.barra-login{
    height: 50px;
    background-color: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    overflow: visible;
    top: 0;
    left: 0;
    z-index: 1;
    position: sticky;
    width: 100%;
}

.barra-login .titulo-pag{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 60px;
    font-size: 27px;
    font-weight: 600;
    color: var(--primary);
}

.barra-login .titulo-pag img{
    margin-left: 20px;
}

.barra-login .titulo-pag .titulo-nombre span{
    color: var(--dark);
}

.barra-login .login{
    margin-left: auto;
    display: flex;
    gap: 15px;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: vis;
}

.barra-login .login .navegacion{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
}

.barra-login .login .navegacion a{
    color: var(--dark);
    font-weight: 600;
    background-color: transparent;
}

.barra-login .login .navegacion a:hover{
    background-color: transparent;
    color: var(--primary);
}

.barra-login .login div{
    cursor: pointer;
}

/* Selector de idiomas */
.lang{
    overflow: hidden;
}

.lang .langbtn{
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--dark);
    background-color: var(--grey);
    padding: 10px;
    border-radius: 25px;
    margin: 0;
    transition: 0.4s;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
}

.lang .langbtn img, .lang .lang-content img{
    border-radius: 10px;
    width: 30px;
}

.lang .langbtn .bx{
    font-size: 13px;
}

.lang-content{
    display: none;
    visibility: none;
    position: absolute;
    background-color: var(--grey);
    border-radius: 0 0 25px 25px;
    width: 96.65px;
    z-index: 1;
}

.lang-content a{
    color: var(--dark);
    color: var(--light);
    padding: 10px;
    display: block;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 7px;
}

.lang:hover .lang-content{
    display: block;
    visibility: visible;
}

.lang:hover .langbtn{
    border-radius: 25px 25px 0 0;
    background-color: var(--dark);
    color: var(--light);
}

.barra-login .login div a{
    padding: 10px;
    color: var(--dark);
    border-radius: 25px;
    background-color: var(--grey);
    transition: 0.4s;
}

.barra-login .login div a.login-registrarse{
    background-color: var(--primary);
    color: var(--light);
}

.barra-login .login div a:hover{
    background-color: var(--dark);
    color: var(--light);
    transition: 0.4s;
}

.mainContent{
    padding: 50px 70px 50px 70px;
    z-index: 300;
}

.imagenTitulo{
    width: 100%;
    height: 40vw;
    filter: brightness(50%);
}

/* Titulo principal landing */

.mainContent .nombre-logo{
    position: absolute;
    top: 6vw;
    width: 70%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    /*
    background-color: rgba(0, 0, 0, .3);
    border-radius: 30px;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.mainContent .nombre-logo img{
    width: 25vw;
}

.mainContent .nombre-logo h1{
    color: var(--primary);
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: white;
    font-size: 10vw;
    font-weight: 900;    
    text-align: left;
    line-height: 0.85;
}

.mainContent h1{
    font-size: 37px;
    color: var(--dark);
}

.mainContent h2.subtituloPagina{
    text-align: center;
    color: var(--dark);
    margin-top: 20px;
    margin-bottom: 15px;
}

.mainContent p.subtituloPagina{
    text-align: center;
    font-size: 1.1rem;
}

.mainContent h2{
    margin-top: 40px;
    margin-bottom: 25px;
    color: var(--dark);
}

.mainContent .resumen ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 50px;
    margin-bottom: 36px;
}

.mainContent .resumen ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 25px;
    border-radius: 25px;
    background-color: var(--light);
}

.mainContent .resumen ul li .bx{
    
    padding: 20px;
    border-radius: 15px;
    background-color: var(--grey);
    color: var(--dark);
    font-size: 35px;
}

.mainContent .resumen ul li h3{
    color: var(--dark);
    font-size: 24px;
    font-weight: 700;
}

.mainContent .resumen ul li h4{
    color: var(--dark);
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}

.mainContent .imagenConTexto{
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    border-radius: 25px;
    margin-bottom: 36px;
}

.mainContent .imagenConTexto h3{
    font-size: 40px;
    padding: 15px 0 250px 0;
    color: var(--light);
}

.mainContent .imagenConTexto a{
    background-color: var(--primary);
    font-size: 25px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: 100px;
    color: var(--light);
}

.mainContent .changelog{
    width: 100%;
    border-radius: 25px;
    padding: 20px 10px;
    background-color: var(--light);
    color: var(--dark);
}

.mainContent .changelog h3{
    font-size: 30px;
}

.mainContent .changelog hr{
    width: 100%;
    height: 8px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: var(--grey);
    color: var(--grey);
    border: none;
}

.mainContent .changelog h4{
    font-size: 20px;
    margin-top: 33px;
}

.mainContent .changelog ul{
    margin-left: 33px;
}

.mainContent .changelog ul li{
    list-style: disc;
    margin-top: 10px;
}


/* imagen con texto y boton */
.mainContent .info-donar{
    margin: 150px 0;
}

.mainContent .info-donar h2{
    text-align: center;
    margin-bottom: 15px;
}

.mainContent .info-donar p{
    text-align: center;
}

.mainContent .info-donar div{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.mainContent .info-donar div div.text{
    width: 100%;
    padding: 30px 20px;
    background-color: var(--light);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.mainContent .info-donar div div.text p{
    text-align: left;
}

.mainContent .info-donar div div.text a{
    background-color: var(--primary);
    border-radius: 40px;
    padding: 10px 30px;
    font-weight: 600;
    color: var(--light);
}

.mainContent .info-donar div div.imagen{
    width: 50%;
}

.mainContent .info-donar div div.imagen img{
    width: 100%;
    border-radius: 25px;
}

/* Info redes sociales */
.mainContent .socials{
    margin: 150px 0;
}

.mainContent .socials div.social-content{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin-top: 66px;
    flex-wrap: wrap;
}

.mainContent .socials div.social-content div.card{
    padding: 33px 75px;
    background-color: var(--light);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}

.mainContent .socials div.social-content div.card div{
    padding: 25px;
    background-color: var(--grey);
    border-radius: 25px;
}

.mainContent .socials div.social-content div.card div i{
    font-size: 3rem;
    color: var(--dark);
}

.mainContent .socials div.social-content div.card p{
    color: var(--dark);
    font-size: 1.1rem;
    font-weight: 600;
}

/* Collapse para un div */
.collapse .collapse-content{
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.6s ease, mask-image 0.6s ease;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0));
}

.collapse .collapse-content.expand{
    max-height: 10000px;
    mask-image: none;
}

.collapse .button{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.collapse .button p{
    font-weight: 500;
}

/* Footer pagina landing */
footer{
    width: 95%;
    margin: 30px auto;
    padding: 20px 10px;
    border-radius: 25px;
    background-color: var(--light);
    box-sizing: border-box;
    color: var(--dark);
}

footer .contenidoFooter{
    display: flex;
    flex-flow: row;
    gap: 30px;
}

footer .contenidoFooter .izquierda{
    margin-right: auto;
    margin-left: 10px;
}

footer .contenidoFooter .derecha{
    margin-right: 40px;
}

footer .contenidoFooter .izquierda .imagen-texto{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
    font-size: 27px;
}

footer .contenidoFooter .izquierda .imagen-texto img{
    width: 50px;
}

footer .contenidoFooter div p{
    text-align: center;
}

footer .contenidoFooter div p.autor{
    margin-top: 15px;
    color: var(--dark-grey);
    text-align: left;
    margin-left: 56px;
}

footer .contenidoFooter div p.titulo{
    color: var(--dark);
    font-weight: 900;
    margin-bottom: 15px;
}

footer .contenidoFooter div p.texto{
    margin-bottom: 5px;
}

footer .contenidoFooter div p.texto a{
    color: var(--dark-grey);
    text-decoration: none;
}

/* Contenido de formularios en Main Content */
.mainContent form .formulario{
    margin: 15px auto;
    width: 65%;
    padding: 50px 30px;
    border-radius: 25px;
    background-color: var(--light);
}

.mainContent form .formulario h1{
    text-align: center;
    color: var(--dark);
}

.mainContent form .formulario .campos{
    width: 100%;
    margin-top: 25px;
    padding: 10px 20px;
}

.mainContent form .formulario .campos label{
    display: block;
    font-size: 19px;
    color: var(--dark);
}

.mainContent form .formulario .campos input{
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: var(--grey);
    color: var(--dark);
    transition: 0.4s;
    font-size: 19px;
    outline: none;
}

.mainContent form .formulario .campos input:focus{
    border: 3px solid var(--dark);
}

.select{
    display: block;
    margin-top: 10px;
    width: 100%;
    min-width: 350px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: var(--grey);
    color: var(--dark);
    transition: 0.4s;
    font-size: 19px;
    outline: none;
}

.select:focus{
    border: 3px solid var(--dark);
    border-radius: 10px 10px 0 0;
}

/* Select con buscador */
.drop-down{
    display: none;
    position: absolute;
    background-color: var(--light);
    overflow: auto;
    max-height: 200px;
    z-index: 100;
    border-radius: 0 0 10px 10px;
    border: 3px solid var(--dark);
    border-top: 0;
    text-align: left;
}

.drop-down p{
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-size: 19px;
    color: var(--dark);
    cursor: pointer;
}

.drop-down.show{
    display: block;
}


/* Boton Submit */
.mainContent form .formulario .campos input[type="submit"]{
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    border-radius: 25px;
}

.mainContent form .formulario .campos input[type="submit"]:hover{
    background-color: var(--dark);
}

/* Mensajes de alerta */
.alerta {
    padding: 20px;
    background-color: var(--danger);
    color: #f6f6f9;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border-radius: 25px;
  }

.alerta.exito {background-color: var(--success);}
.alerta.warning {background-color: var(--warning);}
.alerta.error {background-color: var(--danger);}
  
  /* Boton cerrar */
  .cerrarbtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .cerrarbtn:hover {
    color: var(--dark);
  }

  /* Mensaje cuando no hay contenido */
  .contenido main .mensaje{
    background-color: var(--warning);
    border-radius: 25px;
    padding: 25px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .contenido main .mensaje.info{
    background-color: var(--primary);
  }

  .contenido main .mensaje.info a{
    color: var(--light);
    text-decoration: underline;
  }

  .contenido main .mensaje h4{
    color: var(--light);
  }

  .contenido main .mensaje .bx{
    color: var(--light);
  }

/* ----------- */
/* Pagina Mapa */
/* ----------- */

.contenido main .mapa{
    display: flex;
    width: 100%;
    height: 70vh;
    border-radius: 25px;
    z-index: 100;
}

.contenido main .mapa #map{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    z-index: 100;
}

.contenido main .mapaizq{
    width: 50%;
    height: 300px;
    border-radius: 25px;
    z-index: 100;
}

.contenido main .mapaizq #map{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
}




/* ------------ */
/* Pagina Flota */
/* ------------ */

.contenido main .tablas{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
    margin-bottom: 30px;
    overflow: hidden;
    transition: max-height .4s ease;
}

.contenido main .tablas.max-height{
    max-height: 1500px;
    transition: max-height .4s ease;
}

.contenido main .tablas.collapse{
    max-height: 92px !important;
    transition: max-height .4s ease;
}

.contenido main .tablas .cabecera{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.contenido main .tablas .cabecera .collapse-icon{
    cursor: pointer;
    color: var(--dark);
    font-weight: 600;
    transition: transform .4s;
}

.contenido main .tablas .cabecera .collapse-icon.collapse{
    transition: transform .4s;
}

.contenido main .tablas .cabecera span{
    margin-left: 5%;
}

.contenido main .tablas table{
    width: 100%;
}

.contenido main .tablas table thead{
    text-align: left;
    font-size: 13px;

}


/*.contenido main .tablas table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}*/

.contenido main .tablas table td{
    padding: 16px 0;
}

.contenido main .tablas table td img{
    width: 225px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
    cursor: default;
}

.contenido main .tablas table td .bx{
    cursor: pointer;
}

.center{
    text-align: center;
}

/* Colores segun el estado del avion */
.contenido main .tablas table td.estado{
    text-align: center;
}
.contenido main .tablas table td.estado span{
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    color: var(--light);
}

.contenido main .tablas table td.estado span.exito{
    background-color: var(--success);
}

.contenido main .tablas table td.estado span.warning{
    background-color: var(--warning);
}

.contenido main .tablas table td.estado span.error{
    background-color: var(--danger);
}

.contenido main .tablas table td.estado span.primary{
    background-color: var(--primary);
}

.contenido main .tablas table td a.comprar{
    color: var(--light-success);
}

.contenido main .tablas table td a.comprar .bx{
    background-color: var(--success);
    padding: 5px;
    border-radius: 10px;
}

.contenido main .tablas table td a.vender{
    color: var(--light-danger);
}

.contenido main .tablas table td a.vender .bx{
    background-color: var(--danger);
    padding: 5px;
    border-radius: 10px;
}

.contenido main .tablas table td a.modificar{
    color: var(--light-warning);
}

.contenido main .tablas table td a.modificar .bx{
    background-color: var(--warning);
    padding: 5px;
    border-radius: 10px;
}

.contenido main .tablas table td a.info{
    color: var(--light-primary);
}

.contenido main .tablas table td a.info .bx{
    background-color: var(--primary);
    padding: 5px;
    border-radius: 10px;
}


/* ----------- */
/* Pagina Ruta */
/* ----------- */
.contenido main .rutas{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
    margin-bottom: 30px;
}

.contenido main .rutas h2{
    color: var(--dark);
    margin-bottom: 15px;
}

.contenido main .rutas h4.title-margin{
    margin-bottom: 30px;
}

.contenido main .tablas .cabecera .botones-tablas{
    display: flex;
    flex-flow: row;
    gap: 15px;
    margin-left: auto;
    align-items: center;
}

.contenido main .tablas .cabecera .botones-tablas a{
    padding: 5px 20px 5px 15px;
}

.contenido main .rutas .divRepartido{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 35px;
}

.contenido main .rutas .divRepartido.centrado{
    justify-content: space-evenly;
}

/* Estilo para repartir un div pero sin dejar margen (por si no hay formulario dentro del divRepartido) */
.contenido main .rutas .divRepartido.centrado.m-0{
    margin-bottom: 0;
}

.contenido main .rutas .divRepartido.centrado.m-0 div h3{
    margin-bottom: 7px;
}

.contenido main .rutas .divRepartido .input h3{
    margin-bottom: 20px;
}

.contenido main .rutas .divRepartido .input select{
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: var(--light);
    color: var(--dark);
    transition: 0.4s;
    font-size: 17px;
    outline: none;
}

.contenido main .rutas .divRepartido .input select:focus{
    border: 3px solid var(--dark);
}

.contenido main .rutas .divRepartido .input input{
    width: 80px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: var(--light);
    color: var(--dark);
    transition: 0.4s;
    font-size: 17px;
    outline: none;
}

.contenido main .rutas .divRepartido .input input:focus{
    border: 3px solid var(--dark);
}

.contenido main .rutas .input.submit{
    display: flex;
    align-items: center;
}

.contenido main .rutas .input #botonSubmit{
    display: block;
    align-items: center;
    margin : 0 auto;
    padding: 10px 15px;
    border-radius: 40px;
    font-size: 15px;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    transition: background-color .4s;
}

.contenido main .rutas .input #botonSubmit:hover{
    background-color: var(--dark);
    transition: background-color .4s;
}

.contenido main .mapa-ruta{
    width: 100%;
    height: 60vh;
    border-radius: 25px;
    z-index: 55;
}

.contenido main .mapa-ruta #map{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    z-index: 55;
}

.contenido main .informacion{
    width: 100%;
    border-radius: 25px;
    padding: 30px 0;
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-flow: row;
    gap: 30px;
    margin-top: 35px;
}

.contenido main .informacion.bgColor{
    background-color: var(--light);
}

.contenido main .informacion div.basico{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
}

.contenido main .informacion div.basico h3{
    text-align: left;
    margin-bottom: 10px;
}

.contenido main .informacion .info{
    width: 100%;
}

.contenido main .informacion .info h4{
    margin-bottom: 10px;
}

.contenido main .resumenAvion{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
    margin-top: 35px;
}

.contenido main .resumenAvion.crearRuta{
    margin-bottom: 30px;
}

.contenido main .resumenAvion .barraHorarios{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contenido main .resumenAvion .barraHorarios .horario{
    font-size: 12px;
    margin-top: 10px;
}

.contenido main .resumenAvion .input{
    width: 100%;
    margin-top: 60px;

}

.contenido main .input #crearRuta{
    display: block;
    align-items: center;
    margin : 0 auto;
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    transition: background-color .4s;
}

.contenido main .input #crearRuta:hover{
    background-color: var(--dark);
    transition: background-color .4s;
}

.contenido main .input #crearRuta.margin{
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Sobre mi */
/*
MARK: Sobre mi
*/
.mainContent .informacion-imagen{
    display: flex;
    flex-flow: row;
    gap: 40px;
    align-items: center;
}

.mainContent .informacion-imagen div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainContent .informacion-imagen.extendido{
    gap: 30px;
}

.mainContent .informacion-imagen.extendido div.texto{
    width: 60%;
}

.mainContent .informacion-imagen div.imagen{
    width: 20%;
}

.mainContent .informacion-imagen div.imagen-50{
    width: 100%;
}

.mainContent .informacion-imagen div.texto{
    width: 100%;
    background-color: var(--light);
    padding: 30px 20px;
    border-radius: 25px;
    height: fit-content;
}

.mainContent .informacion-imagen div.texto h3{
    text-align: center;
    color: var(--dark);
}

.mainContent .informacion-imagen div img{
    width: 100%;
    border-radius: 25px;
}

.mainContent .informacion-imagen div p{
    margin-top: 15px;
    text-align: justify;
}


/* RoadMap */
/*
MARK: Road Map
*/

.roadmap-layout {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.roadmap-layout .side {
    width: 300px;
    margin-top: 70px;
}

.roadmap-layout .side .movil {
    visibility: hidden;
    display: none;
}

.roadmap-layout .side.right {
    width: 300px;
    margin-top: 160px;
}

.roadmap-layout .side .side-card {
    position: relative;
    background-color: var(--light);
    border-radius: 25px;
    padding: 25px 17px;
    margin-bottom: 60px;
}

.roadmap-layout .side .side-card h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.roadmap-layout .side .side-card p {
    text-align: left;
}

.roadmap-layout .side .side-card::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 10px;
    background-color: var(--light);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.roadmap-layout .side .side-card.left::before{
    left: 100%;
}

.roadmap-layout .side .side-card.right::before{
    right: 100%;
}

.roadmap-layout .side .side-card::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--danger);
    background: radial-gradient(circle, var(--light) 40%, var(--grey) 25%);
    border-radius: 50%;
    top: 50%;
    z-index: 1;
}

.roadmap-layout .side .side-card.left::after {
    left: 100%;
    transform: translate(445%, -50%);
}

.roadmap-layout .side .side-card.right::after {
    right: 100%;
    transform: translate(-445%, -50%);
}



/* Billetes avion y range */
.contenido main .resumenAvion input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 20px 0;
    opacity: 0.8;
    -webkit-transition: 0.3s;
    transition: opacity 0.3s;
}

.contenido main .resumenAvion input[type=range]:hover{
    opacity: 1;
}

.contenido main .resumenAvion input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--grey);
    border: none;
    border-radius: 5px;
}

.contenido main .resumenAvion input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 12px;
    border-radius: 10px;
    background: var(--primary);
    margin-top: -11px;
}

.contenido main .resumenAvion input[type=range]:focus{
    outline: none;
}

.contenido main .resumenAvion input[type=range]:focus::-webkit-slider-runnable-track{
    background: var(--grey);
}





/* ----------- */
/* Pagina Sede */
/* ----------- */
.contenido main .infodatos h3{
    margin-bottom: 20px;
    color: var(--dark);
}

.contenido main .infodatos h4{
    color: var(--dark);
}

.contenido main .infodatos p{
    margin-bottom: 8px;
}

.contenido main .infodividido{
    float: left;
}

.contenido main .infodividido.margin{
    margin-left: 40px;
}

.contenido main .infodividido p:last-child{
    margin-top: 30px;
}

.contenido main .infodatos .sinBordes{
    border: none;
    margin: 0 auto;
}

.contenido main .infodatos .sinBordes tr td{
    padding: 5px 10px;
}

.contenido main .resumen.sede ul li:nth-child(1) .bx{
    background-color: var(--light-success);
    color: var(--success);
}

.contenido main .resumen.sede ul li:nth-child(2) .bx{
    background-color: var(--light-warning);
    color: var(--warning);
}

.contenido main .resumen.sede ul li:nth-child(3) .bx{
    background-color: var(--light-primary);
    color: var(--primary);
}

.contenido main .resumen.sede ul li:nth-child(4) .bx{
    background-color: var(--light-danger);
    color: var(--danger);
}

.contenido main .botonTexto{
    color: var(--light);
    background-color: var(--success);
    margin-left: auto;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color .4s;
}

.contenido main .botonTexto:hover{
    background-color: var(--dark);
    transition: background-color .4s;
}

/* Media */
@media screen and (max-width: 800px) {
    .menu-lateral{
        width: 80px;
    }

    .menu-lateral .titulo-pag{
        gap: 30px;
    }

    .menu-lateral .lista-menu li{
        margin-left: 10px;
    }

    .menu-lateral .lista-menu li a{
        gap: 20px;
    }

    .contenido{
        width: calc(100% - 80px);
        left: 80px;
    }

    /* Tablas responsivas */
    .contenido main .tablas{
        overflow-y: auto;
    }

    /* Titulo de la pagina adaptado a moviles */
    .mainContent .nombre-logo{
        top: 10vw;
    }

    .mainContent{
        padding: 50px 30px 50px 30px;
    }

    .contenido main{
        padding: 50px 20px 50px 20px;
    }

    .contenido main .informacion{
        flex-flow: column;
        padding: 5px;
    }

    .contenido main .informacion .infodatos{
        width: 100%;
    }

    .contenido main .informacion .mapaizq{
        width: 100%;
    }

    .barra-login .login .navegacion{
        display: none;
        visibility: hidden;
    }

    /* Informacion donar */
    .mainContent .info-donar div{
        flex-direction: column;
    }

    .mainContent .info-donar div div.imagen{
        width: 100%;
    }

    /* Roadmap */
    .roadmap-layout div img{
        margin-right: -100px;
    }

    .roadmap-layout .side .movil{
        visibility: visible;
        display: block;
    }

    .roadmap-layout .side.right{
        visibility: hidden;
        display: none;
    }

    .roadmap-layout .side .side-card{
        margin-bottom: 20px;
    }

    /* Primer login */
    .mainContent form .formulario{
        width: 95%;
    }

    .mainContent form .formulario h1{
        font-size: 33px;
    }

    .contenido main .rutas{
        padding: 15px;
    }

    .contenido main .rutas .divRepartido{
        display: block;
    }

    .contenido main .rutas .divRepartido .input h3{
        margin-bottom: 7px;
    }
    
    .contenido main .rutas .divRepartido .input select{
        margin-bottom: 15px;
    }

    .contenido main .rutas .divRepartido .input input{
        margin-bottom: 15px;
    }

    .contenido main .rutas .divRepartido .input p{
        margin-bottom: 15px;
    }

    /* sobre mi */
    .mainContent .informacion-imagen{
        display: block;
    }

    .mainContent .informacion-imagen div.imagen{
        width: 20%;
    }
    
    .mainContent .informacion-imagen div.imagen{
        width: 70%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .mainContent .informacion-imagen.extendido{
        display: block;
    }

    .mainContent .informacion-imagen.extendido div.texto{
        width: 100%;
    }

    /* Footer pagina landing */
    footer .contenidoFooter{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    footer .contenidoFooter .izquierda{
        margin-bottom: 20px;
    }

    footer .contenidoFooter .izquierda p{
        text-align: left;
    }

    footer .contenidoFooter div{
        margin-top: 25px;
    }

    footer .contenidoFooter .derecha{
        margin-left: auto;
        margin-right: auto;
    }

    .contenido nav h3 span{
        margin-right: 5px;
    }

}

@media screen and (max-width: 500px) {
    /* Titulo de la pagina adaptado a moviles */
    .mainContent .nombre-logo{
        top: 12vw;
    }

    .mainContent{
        padding: 50px 10px 50px 10px;
    }

    .mainContent .imagenConTexto{
        background-size: cover;
        background-position-x: center;
        background-position-y: 0;
    }
    
    .mainContent .imagenConTexto h3{
        font-size: 20px;
        padding: 15px 0 250px 0;
    }

    .modal .contenido-modal{
        width: 95%;
    }

    .mainContent form .formulario{
        padding: 50px 10px;
    }

    /* Cabecera de la pagina en movil */
    .contenido main .cabecera.pagina{
        flex-flow: column;
        align-items: flex-start;
    }

    .contenido main .cabecera.pagina{
        justify-items: flex-start;
    }

    .contenido main .cabecera.pagina a.boton{
        margin-left: 0;
        margin-top: 10px;
    }

    .barra-login .titulo-pag .titulo-nombre{
        display: none;
        visibility: hidden;
    }

    /* Roadmap */
    .roadmap-layout .side .side-card h2{
        font-size: 1.2rem;
    }

    .roadmap-layout .side .side-card p{
        font-size: .9rem;
    }

    /* Formulario a tamaño pantalla */
    form.formularioBasico{
        width: 95%;
        background-color: var(--light);
        border-radius: 25px;
    }

    .pag-login div img{
        display: none;
        visibility: hidden;
    }

    /* Selects con busqueda adaptados a pantalla */
    .select{
        min-width: 100%;
        width: 100%;
    }

    /* informacion version no se ve en movil */
    .version{
        display: none;
        visibility: hidden;
    }

    .contenido nav a{
        margin-left: 5px;
    }

    .contenido nav a span{
        display: none;
        visibility: hidden;
    }

    .contenido nav h3{
        margin-right: 0;
    }

    .contenido nav h3 span{
        display: none;
        visibility: hidden;
    }
    
}