@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap');

/* Colores principales */
:root {
    --light: #f6f6f9;
    --primary: #2d8de8;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

/* Propiedades generales */

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    background-color: var(--grey);
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.bx{
    font-size: 1.8rem;
}


/* ------------ */
/* Menu Lateral */
/* ------------ */

.menu-lateral{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light);
    height: 100%;
    width: 250px;
    transition: all 0.4 ease;
    overflow: hidden;
}

.menu-lateral .titulo-pag{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 60px;
    font-size: 27px;
    font-weight: 600;
    color: var(--dark);
}

.menu-lateral .titulo-pag .bx{
    font-size: 2.1rem;
    color: var(--primary);
    padding-left: 20px;
}

.menu-lateral .titulo-pag .titulo-nombre span{
    color: var(--primary);
}

.menu-lateral .lista-menu{
    width: 90%;
    margin-top: 50px;
}

.menu-lateral .lista-menu li{
    height: 55px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 15px;
}


.menu-lateral .lista-menu li.active{
    background-color: var(--grey);
    font-weight: 600;
}

.menu-lateral .lista-menu li:hover{
    background-color: var(--grey);
}

.menu-lateral .lista-menu li a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.4 ease;
}

.menu-lateral .lista-menu li a{
    width: 100%;
    height: 100%;
    color: var(--dark);
}

.menu-lateral .lista-menu li a{
    width: 175px;
}

.menu-lateral .lista-menu li a .bx{
    min-width: 40px;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
}

.menu-lateral .lista-menu a.logout{
    color: var(--danger);
}


/* ---------------- */
/* Contenido Pagina */
/* ---------------- */
.contenido{
    position: relative;
    /* Interfaz adaptativa dimensiones */
    width: calc(100% - 230px);
    left: 250px;
    transition: all 0.4s ease;
}

.menu-lateral.close~.contenido{
    width: calc(100% - 60px);
    left: 60px;
    transition: all 0.4 ease;
}



/* ------------- */
/* Menu Superior */
/* ------------- */

.contenido nav{
    height: 50px;
    background-color: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}

.contenido nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
    z-index: 201;
}

.contenido nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.contenido nav h3{
    color: var(--dark);
    margin-left: auto;
    margin-right: 20px;
}

.contenido nav h3 span{
    margin-right: 15px;
}

/* ------------------- */
/* Contenido Principal */
/* ------------------- */

.contenido main{
    padding: 50px 50px 33px 25px;
}

.contenido main .cabecera{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contenido main .cabecera .titulo h1{
    font-size: 35px;
    font-weight: 700;
    flex-wrap: wrap;
    color: var(--dark);
    margin-bottom: 7px;
}

.contenido main .cabecera .titulo .breadcrumb{
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    bottom: 45px;
}

.contenido main .breadcrumb a{
    color: var(--primary);
}

.contenido main .breadcrumb span{
    color: var(--dark-grey);
}

.contenido main .cabecera a.boton{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--primary);
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 40px;
    margin-left: auto;
    color: var(--light);
}


/* Muestras de resumenes */
.contenido main .resumen ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.contenido main .resumen ul li{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 25px;
    border-radius: 25px;
    background-color: var(--light);
    cursor: pointer;
}

.contenido main .resumen ul li .bx{
    padding: 25px;
    border-radius: 15px;
    background-color: var(--light-primary);
    color: var(--primary);
}

.contenido main .resumen ul li h3{
    color: var(--dark);
    font-size: 24px;
    font-weight: 700;
}

/* Logos propios */
.contenido main .resumen ul li .bx.clogo{
    padding: 10px;
    height: 80px;
    width: 80px;

}

.contenido main .resumen ul li .bx.clogo img{
    width: 60px;
    height: 60px;
}

.contenido main .resumen ul a:nth-child(1) li .bx.clogo{
    background-color: var(--light-primary);
}

.contenido main .resumen ul a:nth-child(2) li .bx.clogo{
    background-color: var(--light-primary);
}

.contenido main .resumen ul a:nth-child(3) li .bx.clogo{
    background-color: var(--light-primary);
}

.contenido main .resumen ul a:nth-child(4) li .bx.clogo{
    background-color: var(--light-primary);
}


/* Divs repartidos */
.contenido main .informacion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;
    margin-top: 25px;
    color: var(--dark);
}

.contenido main .infodatos{
    width: 50%;
    background-color: var(--light);
    border-radius: 25px;
    padding: 25px;
}

/* Modales */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    z-index: 300;
}

.modal .contenido-modal{
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    background-color: var(--light);
    border-radius: 25px;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 200;
    -webkit-animation-name: animacionCaer;
    -webkit-animation-duration: 0.4s;
    animation-name: animacionCaer;
    animation-duration: 0.4s
}

@-webkit-keyframes animacionCaer {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animacionCaer {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal .contenido-modal .cerrar-modal{
    color: var(--dark-grey);
    font-size: 25px;
    float: right;
    font-weight: 800;
    transition: 0.4s;
}

.modal .contenido-modal .cerrar-modal:hover, .cerrar-modal:focus{
    color: var(--dark);
    transition: 0.4s;
    cursor: pointer;
}

.modal .contenido-modal .cabecera-modal{
    padding: 20px 25px;
    color: var(--dark);
    font-size: 20px;
}

.modal .contenido-modal .cuerpo-modal{
    padding: 5px 25px;
    color: var(--dark);
}

.modal .contenido-modal .footer-modal{
    padding: 10px 25px;
    color: var(--dark);
}

.modal .contenido-modal .footer-modal .botones{
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
}

.modal .contenido-modal .footer-modal .botones a,
.modal .contenido-modal .footer-modal .botones span,
.modal .contenido-modal .footer-modal .botones input[type="submit"]{
    width: 100%;
    border: 3px solid var(--grey);
    transition: 0.4s;
    border-radius: 25px;
    padding: 10px 0;
    cursor: pointer;
}

.modal .contenido-modal .footer-modal .botones a:hover, .modal .contenido-modal .footer-modal .botones span:hover,
.modal .contenido-modal .footer-modal .botones input[type="submit"]:hover{
    border: 3px solid var(--dark);
    transition: 0.4s;
}

.modal .contenido-modal .footer-modal .botones a.cancelar, .modal .contenido-modal .footer-modal .botones span.cancelar{
    color: var(--dark);
}

.modal .contenido-modal .footer-modal .botones a.aceptar,
.modal .contenido-modal .footer-modal .botones input[type="submit"].aceptar{
    color: var(--light);
    background-color: var(--dark);
}

span.rojo{
    font-weight: 700;
    color: var(--danger);
}

span.verde{
    font-weight: 700;
    color: var(--success);
}

/* formulario dentro del modal */
.modal form label{
    display: block;
    font-size: 19px;
    color: var(--dark);
}

.modal form input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 20px 0;
    opacity: 0.8;
    -webkit-transition: 0.3s;
    transition: opacity 0.3s;
}

.modal form input[type=range]:hover{
    opacity: 1;
}

.modal form input[type=range]::-webkit-slider-runnable-track{
    height: 8px;
    background: var(--grey);
    border: none;
    border-radius: 5px;
}

.modal form input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 12px;
    border-radius: 10px;
    background: var(--primary);
    margin-top: -11px;
}

.modal form input[type=range]:focus{
    outline: none;
}

.modal form input[type=range]:focus::-webkit-slider-runnable-track{
    background: var(--grey);
}


/* ------------ */
/* Pagina Login */
/* ------------ */
.barra-login{
    height: 50px;
    background-color: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 100;
}

.barra-login .titulo-pag{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 60px;
    font-size: 27px;
    font-weight: 600;
    color: var(--dark);
}

.barra-login .titulo-pag .bx{
    font-size: 2.1rem;
    color: var(--primary);
    padding-left: 20px;
}

.barra-login .titulo-pag .titulo-nombre span{
    color: var(--primary);
}

.barra-login .login{
    margin-left: auto;
    display: flex;
    gap: 25px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.barra-login .login div{
    color: var(--dark);
    cursor: pointer;
}

.barra-login .login div:first-child{
    color: var(--primary);
}

.barra-login .login div:first-child:hover{
    color: var(--dark);
}

.mainContent{
    padding: 50px 70px 50px 70px;
}

.imagenTitulo{
    width: 100%;
    height: 40vw;
}

.mainContent h1{
    position: absolute;
    top: 10vw;
    color: var(--primary);
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: white;
    font-size: 10vw;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.mainContent h2{
    text-align: center;
    color: var(--dark);
    margin-top: 20px;
}

.mainContent .resumen ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 50px;
    margin-bottom: 36px;
}

.mainContent .resumen ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 25px;
    border-radius: 25px;
    background-color: var(--light);
}

.mainContent .resumen ul li .bx{
    
    padding: 20px;
    border-radius: 15px;
    background-color: var(--grey);
    color: var(--dark);
    font-size: 35px;
}

.mainContent .resumen ul li h3{
    color: var(--dark);
    font-size: 24px;
    font-weight: 700;
}

.mainContent .resumen ul li h4{
    color: var(--dark);
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
}

.mainContent .imagenConTexto{
    text-align: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0;
    width: 100%;
    height: 400px;
    border-radius: 25px;
}

.mainContent .imagenConTexto h3{
    font-size: 40px;
    padding: 15px 0 250px 0;
    color: var(--dark);
}

.mainContent .imagenConTexto a{
    background-color: var(--primary);
    font-size: 25px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: 100px;
    color: var(--light);
}

/* Contenido de formularios en Main Content */
.mainContent form .formulario{
    margin: 15px auto;
    width: 65%;
    padding: 30px 20px;
    border-radius: 25px;
    background-color: var(--light);
}

.mainContent form .formulario h1{
    text-align: center;
    color: var(--dark);
}

.mainContent form .formulario .campos{
    width: 100%;
    margin-top: 25px;
    padding: 10px 20px;
}

.mainContent form .formulario .campos label{
    display: block;
    font-size: 19px;
    color: var(--dark);
}

.mainContent form .formulario .campos input{
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: #FFF;
    transition: 0.4s;
    font-size: 19px;
    outline: none;
}

.mainContent form .formulario .campos input:focus{
    border: 3px solid var(--dark);
}

.mainContent form .formulario .campos select{
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid var(--grey);
    background-color: #FFF;
    transition: 0.4s;
    font-size: 19px;
    outline: none;
}

.mainContent form .formulario .campos .select:focus{
    border: 3px solid var(--dark);
    border-radius: 10px 10px 0 0;
}

/* Select con buscador */
.mainContent form .formulario .campos .drop-down{
    display: none;
    position: absolute;
    background-color: var(--light);
    overflow: auto;
    max-height: 200px;
    z-index: 50;
    border-radius: 0 0 10px 10px;
    border: 3px solid var(--dark);
    border-top: 0;
}

.mainContent form .formulario .campos .drop-down p{
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-size: 19px;
    color: var(--dark);
    cursor: pointer;
}

.mainContent form .formulario .campos .drop-down.show{
    display: block;
}


/* Boton Submit */
.mainContent form .formulario .campos input[type="submit"]{
    background-color: var(--dark-grey);
    color: var(--light);
    cursor: pointer;
}

.mainContent form .formulario .campos input[type="submit"]:hover{
    background-color: var(--dark);
}

/* Mensajes de alerta */
.alerta {
    padding: 20px;
    background-color: var(--danger);
    color: var(--light);
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border-radius: 25px;
  }

.alerta.exito {background-color: var(--success);}
.alerta.warning {background-color: var(--warning);}
.alerta.error {background-color: var(--danger);}
  
  /* Boton cerrar */
  .cerrarbtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .cerrarbtn:hover {
    color: var(--dark);
  }

  /* Mensaje cuando no hay contenido */
  .contenido main .mensaje{
    background-color: var(--warning);
    border-radius: 25px;
    padding: 25px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .contenido main .mensaje h4{
    color: var(--light);
  }

  .contenido main .mensaje .bx{
    color: var(--light);
  }

/* ----------- */
/* Pagina Mapa */
/* ----------- */

.contenido main .mapa{
    display: flex;
    width: 100%;
    height: 70vh;
    border-radius: 25px;
    z-index: 200;
}

.contenido main .mapa #map{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    z-index: 200;
}

.contenido main .mapaizq{
    width: 50%;
    height: 300px;
    border-radius: 25px;
    z-index: 200;
}

.contenido main .mapaizq #map{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
}




/* ------------ */
/* Pagina Flota */
/* ------------ */

.contenido main .tablas{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
    margin-bottom: 30px;
}

.contenido main .tablas .cabecera{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.contenido main .tablas .cabecera span{
    margin-left: 5%;
}

.contenido main .tablas table{
    width: 100%;
}

.contenido main .tablas table thead{
    text-align: left;
    font-size: 13px;

}


/*.contenido main .tablas table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}*/

.contenido main .tablas table td{
    padding: 16px 0;
}

.contenido main .tablas table td img{
    width: 225px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
}

.contenido main .tablas table td .bx{
    cursor: pointer;
}

.contenido main .tablas table td a.comprar{
    color: var(--light-success);
}

.contenido main .tablas table td a.comprar .bx{
    background-color: var(--success);
    padding: 5px;
    border-radius: 10px;
}

.contenido main .tablas table td a.vender{
    color: var(--light-danger);
}

.contenido main .tablas table td a.vender .bx{
    background-color: var(--danger);
    padding: 5px;
    border-radius: 10px;
}

.contenido main .tablas table td a.modificar{
    color: var(--light-warning);
}

.contenido main .tablas table td a.modificar .bx{
    background-color: var(--warning);
    padding: 5px;
    border-radius: 10px;
}


/* ----------- */
/* Pagina Ruta */
/* ----------- */
.contenido main .rutas{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
}

.contenido main .rutas .divRepartido{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 35px;
}

.contenido main .rutas .divRepartido .input h3{
    margin-bottom: 20px;
}

.contenido main .rutas .divRepartido .input select{
    padding: 5px;
}

.contenido main .rutas .divRepartido .input.submit{
    display: flex;
    align-items: center;
}

.contenido main .rutas .divRepartido .input #comprarEspacios{
    display: block;
    align-items: center;
    margin : 0 auto;
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
}

.contenido main .mapa-ruta{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    border-radius: 25px;
}

.contenido main .mapa-ruta #map{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
}

.contenido main .informacion{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-flow: row;
    margin-top: 35px;
}

.contenido main .informacion .info{
    width: 100%;
}

.contenido main .informacion .info h4{
    margin-bottom: 10px;
}

.contenido main .resumenAvion{
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    background-color: var(--light);
    color: var(--dark);
    margin-top: 35px;
}



.contenido main .resumenAvion .barraHorarios{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contenido main .resumenAvion .barraHorarios .horario{
    font-size: 12px;
    margin-top: 10px;
}

.contenido main .resumenAvion .input{
    width: 100%;
    margin-top: 60px;

}

.contenido main .resumenAvion .input #crearRuta{
    display: block;
    align-items: center;
    margin : 0 auto;
    padding: 10px 15px;
    border-radius: 40px;
    border: none;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
}


/* Billetes avion y range */
.contenido main .resumenAvion input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 20px 0;
    opacity: 0.8;
    -webkit-transition: 0.3s;
    transition: opacity 0.3s;
}

.contenido main .resumenAvion input[type=range]:hover{
    opacity: 1;
}

.contenido main .resumenAvion input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--grey);
    border: none;
    border-radius: 5px;
}

.contenido main .resumenAvion input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 12px;
    border-radius: 10px;
    background: var(--primary);
    margin-top: -11px;
}

.contenido main .resumenAvion input[type=range]:focus{
    outline: none;
}

.contenido main .resumenAvion input[type=range]:focus::-webkit-slider-runnable-track{
    background: var(--grey);
}





/* ----------- */
/* Pagina Sede */
/* ----------- */
.contenido main .infodatos h3{
    margin-bottom: 20px;
    color: var(--dark);
}

.contenido main .infodatos h4{
    color: var(--dark);
}

.contenido main .infodatos p{
    margin-bottom: 8px;
}

.contenido main .infodividido{
    float: left;
}

.contenido main .infodividido.margin{
    margin-left: 40px;
}

.contenido main .infodividido p:last-child{
    margin-top: 30px;
}

.contenido main .infodatos .sinBordes{
    border: none;
    margin: 0 auto;
}

.contenido main .infodatos .sinBordes tr td{
    padding: 5px 10px;
}

.contenido main .resumen.sede ul li:nth-child(1) .bx{
    background-color: var(--light-success);
    color: var(--success);
}

.contenido main .resumen.sede ul li:nth-child(2) .bx{
    background-color: var(--light-warning);
    color: var(--warning);
}

.contenido main .resumen.sede ul li:nth-child(3) .bx{
    background-color: var(--light-primary);
    color: var(--primary);
}

.contenido main .resumen.sede ul li:nth-child(4) .bx{
    background-color: var(--light-success);
    color: var(--success);
}

.contenido main .botonTexto{
    color: var(--light);
    background-color: var(--success);
    margin-left: auto;
    padding: 10px;
    border-radius: 25px;
}

/* Media */
@media screen and (max-width: 800px) {
    .menu-lateral{
        width: 80px;
    }

    .menu-lateral .titulo-pag{
        gap: 30px;
    }

    .menu-lateral .lista-menu li a{
        gap: 20px;
    }

    .contenido{
        width: calc(100% - 80px);
        left: 80px;
    }

    /* Tablas responsivas */
    .contenido main .tablas{
        overflow-y: auto;
    }

    /* Titulo de la pagina adaptado a moviles */
    .mainContent h1{
        font-size: 10vw;
        top: 15vw;
    }

    .mainContent{
        padding: 50px 30px 50px 30px;
    }

}

@media screen and (max-width: 500px) {
    /* Titulo de la pagina adaptado a moviles */
    .mainContent h1{
        font-size: 16vw;
        top: 15vw;
    }

    .mainContent{
        padding: 50px 10px 50px 10px;
    }

    .mainContent .imagenConTexto{
        background-size: cover;
        background-position-x: center;
        background-position-y: 0;
    }
    
    .mainContent .imagenConTexto h3{
        font-size: 20px;
        padding: 15px 0 250px 0;
    }
}